{% extends 'main_columns.html' %}

{% block row %}

<div class="col-12 text-center">
    <div class="sign dark-green-bg pt-3 pb-3 text-centered color-light-grey">
        Copyright © <script type="text/javascript">document.write(new Date().getFullYear()); </script> <a class="color-light-grey text-decor-none" href="https://www.iminez.com">i'm Inez</a>
    </div>

    <div>
        Credits
        <div>Pineapple icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Pineapple photo by Kelsey Curtis on <a href="https://unsplash.com/photos/WzSJtBZiqsw">Unsplash</a></div>
    </div>

</div>

{% endblock row %}