{% load static %}

<!--# credits: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Spectral:300|Roboto:300,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Is that low fodmap?</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light pt-1 pb-2">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'analyzer:analyze' %}">Home</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'analyzer:analyze' %}"><div class="text-center">
            <img src="{% static 'images/pineapple.svg' %}" class="h-30"><br>
            <span class="font-spectral text-center">is that low fodmap?</span>
        </div></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 mr-5">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
            {% else %}

            <div class="dropdown mr-150px">
                <a href="." class="dropdown-toggle text-dark" data-toggle="dropdown"><b>Log in</b></a>
                <ul id="login-dp" class="dropdown-menu pb-4">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="login-register">
                                    <!--                                    Login using-->
                                    <!--                                    <div class="social-buttons">-->
                                    <!--                                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>-->
                                    <!--                                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>-->
                                    <!--                                    </div>-->
                                    <!--                                    or-->
                                    <form class="form" role="form" method="POST" action="{% url 'users:login' %}" accept-charset="UTF-8" id="login-nav">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="id_username">Username</label>
                                            <input type='text' class="form-control" id="id_username" name="username" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_password">Password</label>
                                            <input type="password" class="form-control" id="id_password" name="password" required>
                                            <!--                                            <div class="help-block text-right"><a href="">Zapomniałeś/aś hasła?</a></div>-->
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-dark btn-block">Login</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Nie wylogowuj mnie
                                            </label>
                                            <br /> <br />
                                            Don't have an account yet?<br />
                                            <button id="action_button" class="btn btn-dark btn-block"><a href="{% url 'users:register' %}" class="text-white ">Singup</a></button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
            {% endif %}
        </ul>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% block main_columns %}
{% endblock main_columns %}

{% block content %}
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"> </script>
<script>
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method)); }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $(document).ready(function(){
    {% block domready %}
    {% endblock domready %}
    });
</script>
</body>
</html>