{% extends 'main_columns.html' %}
{% load static %}
{% load analyzer_extras %}
{% load cards_extras %}

{% block row %}


<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-2 order-sm-2 order-md-1 minh-60 center_content bg-white">
    <img src='{% if meal.meal_file %}{{ meal.image_file.url }}{% else %}{{ meal.image_url }}{% endif %}' class="fr oh ">
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-2 minh-60 bg-greybeige ">
    <div class="right-box align-items-start p-5 ">
        <h2>Editing meal {{ meal.meal_name }}</h2>
        <form action="." method="post" name="create_meal" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.non_field_errors }}
            <h5 class="pt-3 pb-2">Meal name:</h5>
            {{ field.errors }}
            {{ form.meal_name|add_class:'w-100' }} <br>
            {{ field.help_text }}

            <h5 class="pt-3 pb-2">Meal url:</h5>
            {{ field.errors }}
            {{ form.meal_url|add_class:'w-100' }} <br>
            {{ field.help_text }}

            <h5 class="pt-3 pb-2">Meal ingredients:</h5>
<!--            show ingredients as checkboxes-->
            {{ field.errors }}
            {% for ingr in form.ingredients|add_class:'d-block'|split:","|leave_ingrs %}
            <input type="checkbox" checked=True value="{{ ingr }}" name="single_ingredients" class="bg-greybeige"> {{ingr }} <br>
            {% endfor %}
            {{ field.help_text }}

<!--            hide real ingredients, img_file and img_url field-->
            {{ form.ingredients|add_class:'wh-0' }}
            {{ field.errors }}
            {{ form.results|add_class:'wh-0' }}
            {{ field.help_text }}

            {{ field.errors }}
            {{ form.safety|add_class:'wh-0' }}
            {{ field.help_text }}
            <br>

            <h5 class="pt-3 pb-2">Meal image:</h5>

            Upload new file:
            {{ field.errors }}
            {{ form.image_file }}
            {{ field.help_text }}<br>


            {{ field.errors }}
            {{ form.image_url|add_class:'wh-0' }}
            {{ field.help_text }}<br>


            <div class="text-center pt-2"><input type="submit" value="Save changes" class="btn btn-dark"></div>
        </form>

    </div>
</div>
{% endblock row %}