{% extends 'main_columns.html' %}
{% load static %}
{% load analyzer_extras %}
{% load cards_extras %}
{% load crispy_forms_tags %}

{% block row %}

{% if results %}
<!--<div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 order-2 order-sm-2 order-md-1 p-5">-->
<!--    <div class="h-100">-->
<!--    </div>-->
<!--</div>-->


<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 p-5 order-1 order-sm-1 order-md-2 minh-60 bg-greybeige md-screen">
    <div class="align-items-start">
        <br><br>
        <h3> Your results </h3>
        {% include "analyzer/results_table.html"  with safety=safety_table %}
        <p class="pt-3">Should the results be unsatisfying, try to <a href="{% url 'analyzer:analyze' ingredients_save meal_url language %}">
            correct the ingredients or change language</a> and check them again.</p>
        <div class="pt-3">
            <form class="d-inline" name="save_meal" method="post"
                  action="{% url 'cards:meal_create'%}">
                {% csrf_token %}
                <input  type="hidden" name="meal_name" value= {{meal_name}}>
                <input  type="hidden" name="meal_url" value={{meal_url}}>
                <input  type="hidden" name="ingredients" value={{ingredients_save}} >
                <input  type="hidden" name="results" value={{results_save}}>
                <input  type="hidden" name="meal_images" value={{meal_images}}>
                <input  type="hidden"  name="safety" value={{safety}}>
                <input  type="hidden"  name="tokens" value={{tokens}}>
                <input type="hidden" name="supporttype" />
                <input type="submit" value="SAVE THIS MEAL" class="btn btn-dark d-inline"/>
            </form>
            <button type="button" class="btn btn-dark d-inline">
                <a class="text-white" href="{% url 'analyzer:analyze' %}">New check</a></button>
        </div>
    </div>
</div>

{% else %}

<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-2 order-sm-2 order-md-1 minh-60 md-screen">
    <img src="{% static 'images/pineapple7.jpg' %}" class="maxw-none fr ">
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 p-5 order-1 order-sm-1 order-md-2 minh-60 bg-greybeige md-screen">
    <h5 class="text-center"> Check whether your meal is low fodmap safe </h5>
    <form action='#' method="post">
        {{ ingr_form|crispy }}
        {{ link_form|crispy }}
        <div id="language">{{ language_form|crispy }}</div>
        {% csrf_token %}
        <input type="submit" value="Check it!" class="btn btn-dark">
    </form>
</div>

{% endif %}

<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 p-5 order-1 order-sm-1 order-md-2 minh-60 sm-screen">
    <h5 class="text-center"> Check whether your meal is low fodmap safe </h5>
    <form action='#' method="post">
        {{ ingr_form|crispy }}
        {{ link_form|crispy }}
        <div id="language">{{ language_form|crispy }}</div>
        {% csrf_token %}
        <input type="submit" value="Check it!" class="btn btn-dark">
    </form>
</div>

{% endblock row %}

{% block content %}
<h2 class="text-center pt-5 font-spectral"> {% if user.is_authenticated %} {{ user.username }}{% else %} hey you{% endif %}, look at all the food you can eat</h2>
<hr>
<div class="container text-center mb-3">
    <form action="{% url 'search:search' %}" method="post">
        <p class="text-center d-inline m-1"> search meals by ingredients: </p>
        {% for field in search_form %}
        {{ field_errors }}
        <span class="d-inline">{{ field }}</span>
        {% csrf_token %}
        {% endfor %}
        <input type="submit" value="Search" class="btn btn-dark d-inline m-1 ml-2">
    </form>
</div>

<div class="container">
    <div class="row" id="meals-row">
        {% for meal in meals %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3 pt-3 text-center hover-dark">
            <a href="{{ meal.get_absolute_url }}">
                <img src="{{ meal.image_file.url }}"
                     class="img-thumb" alt="{{ meal.meal_name|capfirst }}"> </a>
            <p class="mt-3">{% include 'cards/meal/meal_safety.html' with safety=meal.safety %} </p>
            <a href="{{ meal.get_absolute_url }}"><p class="text-dark">{{ meal.meal_name }} </p></a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}

{% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;
$(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function(data) {
            if(data == '') {
                empty_page = true;
            } else {
                block_request = false;
                $('#meals-row').append(data);
            }
        });
    }
});
{% endblock %}
